{# liste des entreprises  #}

{% extends 'base.html.twig' %}

{% block title %}Liste des entreprises{% endblock %}

{% block body %}

    <h1>Liste des entreprises</h1>

    <a href="{{ path('new_entreprise') }}">Ajouter une entreprise</a>
    <br>

    {% for entreprise in entreprises %}
    {# appelle implicitement le getter de cp et ville, la raison sociale est dans la méthode toString()  #}
    <a href="{{ path('show_entreprise', {'id' : entreprise.id}) }}">{{ entreprise ~ ' (' ~ entreprise.cp ~ ' ' ~ entreprise.ville ~ ')'}} </a>
    <a class="btn btn-warning" href="{{ path('edit_entreprise', {'id': entreprise.id}) }}">Edit</a>
    <a class="btn btn-danger" href="{{ path('delete_entreprise', {'id': entreprise.id}) }}">Supp</a>
    <br>
    {% endfor %}

{% endblock %}